@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-bond {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-top: 50px;
    background-color: black;
    color: white;
}


/*efectos en carrusel para que no se vea tan grande la imagen
.carousel-item img {
    max-height: 500px;
    width: auto; 
    object-fit: cover; /* Recortar la imagen para que llene el contenedor 
}*/

/*css para la barra de navegación*/
nav {
    background-color: transparent; /* fondo transparente */
    backdrop-filter: blur(10px); /* efecto blur */
    position: fixed; /* para que el nav no se mueva */
    width: 100%;
    z-index: 1000; /* para asegurar que el nav esté encima de otros elementos */
}

/*css para la letra de cards*/
.card-body {
    font-size: 14px;
}

/*altura definida para las cards*/
.fixed-height {
    height: 140px;
}

footer a {
    color: white;
    text-decoration: none;
}